/* style.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.header {
    text-align: right;
    padding: 10px;
}

#sections-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.seating-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    width: 150px;
}

.seat {
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.occupied {
    background-color: red !important;
}

.vip-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
