/* Configuración general */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

#seats-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
}

/* Configuración de asientos generales */
.seat {
    width: 40px;
    height: 40px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    margin: 2px;
}

.occupied {
    background-color: red;
    cursor: not-allowed;
}

/* Sección A */
#seatsA {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 40px;
    gap: 5px;
    grid-template-areas: 
        "A1 A2 A3 A4 A5 A6 A7"
        "A8 A9 A10 A11 A12 A13 A14"
        "A15 A16 A17 A18 A19 A20 A21"
        "A22 A23 A24 A25 A26 A27 A28"
        "A29 A30 A31 A32 A33 A34 A35"
        "A36 A37 A38 A39 A40 A41 A42"
        "A43 A44 A45 A46 A47 A48 A49"
        "A50 A51 . . . . .";
}

/* Sección B (Alineación en diagonal) */
#seatsB {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 40px;
    gap: 5px;
    grid-template-areas: 
        ". B1 B2 B3 B4 B5 B6 B7 B8 B9"
        "B10 B11 B12 B13 B14 B15 B16 B17 B18 B19"
        ". B20 B21 B22 B23 B24 B25 B26 B27 B28"
        "B29 B30 B31 B32 B33 B34 B35 B36 B37 B38"
        ". . B39 B40 B41 B42 B43 B44 B45 B46 B47";
}

/* Sección C */
#seatsC {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    grid-template-areas: 
        "C1 C2 C3 C4 C5 C6 C7"
        "C8 C9 C10 C11 C12 C13 C14"
        "C15 C16 C17 C18 C19 C20 C21"
        "C22 C23 C24 C25 C26 C27 C28"
        "C29 C30 C31 C32 C33 C34 C35"
        "C36 C37 C38 C39 C40 C41 C42"
        "C43 C44 C45 C46 C47 C48 C49";
}



/* Estilo del botón de confirmación */
#selected-seat {
    margin-top: 20px;
}

#confirmButton {
    display: none;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}

#confirmButton:hover {
    background-color: #218838;
}
